body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 22px;
  text-align: center;
}
#text {
  text-align: center;
}
#main_title {
  font-size: 6em;
  color: #000;
  text-shadow: 2px 2px #999999;
  text-align: center;
}
.block {
  width: 60px;
  height: 60px;
  position: absolute;
}
#game {
  width: 1000px;
  height: 550px;
  border: 3px solid #000000;
  margin: 2% 0%;
  left: calc((100% - 1000px)/2);
  position: relative;
}
#player {
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: 0;
  position: absolute;
}
#play {
  padding: 1%;
  color: white;
  background-color: black;
  border-style: solid;
}
#options {

}
a {
  font-size: 22px;
  color: #3498db;
}
a:visited {
  text-decoration: none;
}

/*Theme Design*/
/*Dark Theme*/
#game.dark {
	background-color: #000;
}
.dark #player {
	background-color: #fff;
}

/*Light Theme*/
#game.light {
	background-color: #fff;
}
.light #player {
	background-color: #000;
}

/*Blue White Theme*/
#game.blue_white {
	background-color: #0066ff;
}
.blue_white #player {
	background-color: #fff;
}

/*Red White Theme*/
#game.red_white {
	background-color: #ff3333;
}
.red_white #player {
	background-color: #fff;
}