body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
#main_title {
  font-size: 5em;
  color: #000;
  text-shadow: 2px 2px #999999;
  text-align: center;
}
.block {
  width: 60px;
  height: 60px;
  position: absolute;
}
#game {
  width: 1000px;
  height: 550px;
  border: 3px solid #000000;
  margin: 2% 0%;
  left: calc((100% - 1000px)/2);/* this positions the game zone so that it is always at the center of a page, even if its position is relative*/
  position: relative;
}
#player {
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: 0;
  position: absolute;
}
#play {
  padding: 1%;
  color: white;
  background-color: black;
  border-style: solid;
}
#options {

}
